*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-side{
    margin: 20px;
    text-align: center;
    margin-top: 40px;
}

.button{
    padding: 10px;
    
}

.button-used{
    padding: 15px;
}

.group{
   padding: 10px;
}

.Newgroup{
    text-align: center;
     margin: 30px 20px;    /* 30px for top and bottom and 20px for left and right */
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

