*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    text-align: center;
    padding: 10px;
}

.second-half{
    padding: 10px;
}

.first-half-button{
    background: hwb(263 87% 5%);
    padding: 20px;
    width: 510px;
}