*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-top{
    text-align: center;
    margin-block: 10px;
}

.main{
    text-align: center;
    margin-inline: 30%;
}

.second-main{
    padding: 10px;
}


.second-half{
    text-align: left;
    background-color: white;
    box-shadow: 0 0 2px 0 grey;
}


.first-half-button{
    display: flex;
    justify-content: space-between;
    cursor: pointer;       
    font-size: medium;
    font-weight: bolder;
    border-radius: 5px;
    text-align: left;
    background: #f3f4ff;
    padding: 20px;
    width: 100%;
}